/* :: 15.0 About CSS */

.about-content {
  position: relative;
  z-index: 1;
}

.about-us-content {
  position: relative;
  z-index: 1;

  h5 {
    line-height: 1.8;
    color: #636a76;
    margin-bottom: 30px;
    font-weight: 400;
  }

  p {
    margin-bottom: 30px;

    span {
      color: #3aa8ee;
    }
  }
}

.about-thumbnail {
  position: relative;
  z-index: 1;

  img {
    border-radius: 6px;
    width: 100%;
  }
}

.about-us-thumbnail {
  position: relative;
  z-index: 1;

  .single-thumb {
    position: relative;
    z-index: 1;
    margin: 5px;
    display: block;
    overflow: hidden;
    border-radius: 6px;

    img {
      transition-duration: 500ms;
      border-radius: 6px;
    }

    &:first-child {
      margin-bottom: 10px;
    }

    &:hover,
    &:focus {
      img {
        transform: scale(1.15);
      }
    }
  }
}

.single-service-area {
  position: relative;
  z-index: 1;
  background-color: white;
  box-shadow: 0 2px 14px 5px rgba(20, 20, 20, 0.05);
  border-radius: 3px;
  height: 30vh;
  margin-bottom: 150px;
  @media only screen and (min-width:768px) and (max-width:1025px) {
    height: 20vh;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .service-title {
    transition-duration: 500ms;
    position: relative;
    width: 100%;
    background-color: rgba(42, 48, 59, 0.5);
    bottom: 0;
    left: 0;
    height: 80px;
    text-align: center;

    h5 {
      margin-bottom: 0;
      font-size: 22px;
      color: white;
    }
  }

  &:hover,
  &:focus {
    .service-title {
      background-color: rgba(42, 48, 59, 1);
    }
  }
}

.service-area {
  position: relative;
  z-index: 1;

  .service-content {
    @media only screen and (max-width:767px) {
      flex-wrap: wrap;
      margin-bottom: 70px;
    }
  }
}

.single-service--area {
  position: relative;
  z-index: 1;
  background-color: white;
  box-shadow: 0 2px 14px 5px rgba(20, 20, 20, 0.05);
  border-radius: 3px;
  padding: 30px;
  text-align: center;

  @media only screen and (min-width:768px) and (max-width:991px) {
    padding: 20px;
  }

  @media only screen and (max-width:767px) {
    padding: 20px;
  flex: (0 0 45%);
    max-width: 45%;
    width: 45%;
    margin-bottom: 30px;
  }

  img {
    margin-bottom: 20px;
    display: inline-block;
    max-height: 40px;

    @media only screen and (max-width:767px) {
      max-height: 30px;
    }
  }

  h5 {
    margin-bottom: 0;
     transition-duration: 500ms;

    @media only screen and (min-width:992px) and (max-width:1199px) {
      font-size: 16px;
    }

    @media only screen and (min-width:768px) and (max-width:991px) {
      font-size: 14px;
    }

    @media only screen and (max-width:767px) {
      font-size: 14px;
    }
  }

  &:hover,
  &:focus {
    h5 {
      color: #3aa8ee;
    }
  }
}

.search-form-area {
  position: relative;
  z-index: 1;
  padding-left: 10%;
  padding-right: 10%;
  top: -12vh;
  @media only screen and (max-width: 767px) {
    top: 0;
  }
  .container-fluid{
    padding: 0;
    margin: 0;
  }

  @media only screen and (min-width:992px) and (max-width:1199px) {
    padding-left: 2%;
    padding-right: 2%;
  }

  @media only screen and (min-width:768px) and (max-width:1025px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media only screen and (min-width:992px) and (max-width:1025px) {
    top: -7vh;
    padding-left: 5%;
    padding-right: 5%;
  }

  @media only screen and (max-width:767px) {
    padding-left: 0;
    padding-right: 0;
  }

  .search-form {
    position: relative;
    z-index: 1;
    width: 100%;
    box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.15);
    padding: 40px 40px 0 40px;
    border-radius: 5px;
    background-color: white;

    @media only screen and (max-width:767px) {
      padding: 30px 30px 0 30px;
    }

    label {
      font-size: 16px;
      font-weight: 500;

      @media only screen and (max-width:767px) {
        font-size: 13px;
      }
    }

    .form-control {
      width: 100%;
      margin-bottom: 40px;
      height: 50px;
      border: 1px solid #ebebeb;
      font-size: 13px;

      @media only screen and (max-width:767px) {
        margin-bottom: 30px;
      }

      &:focus {
        box-shadow: none;
        border-color: #afb4bf;
      }
    }
  }
}

.about-area {
  position: relative;
  z-index: 1;

  .search-form-area {
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 0;
    transform: translateY(-50%);

    .nice-select {
      line-height: 35px;
    }
  }
}

.board-area {
  position: relative;
  z-index: 1;
  padding-top: 150px;
  padding-bottom: 150px;
  height: 50vh;
  @media only screen and (min-width:768px) and (max-width:1025px) {
    height: 30vh;
  }
}

.about-p-tag{
  p{
    font-size: 14px;
    text-align: justify;
    font-family: "Varela Round", sans-serif;
  }
}

//privacy section

.privacy-wrapper{
  font-family: "Varela Round", sans-serif;
  p{
    font-size: 14px;
    text-align: justify;
  }
  span, li{
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    color:#636a76;
  }
}
