.details {
  button {
    background: #3aa8ee;
    a {
      color: white;
      &:hover,
      &:focus {
        color: #3aa8ee;
      }
    }
    &:hover,
    &:focus {
      background-color: white;
    }
  }
}
.adventure-thumbnail{
  height: 40vh;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 770px) {
  .adventure-area {
    margin-bottom: 5vh;
    .single-adventure-area {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      h2{
        font-size: 20px;
      }
      h5{
        font-size: 14px;
      }
    }
    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5vh;
      h2{
        font-size: 20px;
      }
      h4{
        font-size: 14px;
      }
      button {
        padding: 1vh 4vh;
        border: none;
        border-radius: 25px;
        outline: none;
      }
    }
  }
}

@media only screen and (min-width:771px) and (max-width:1100px){

  .adventure-area{
    margin: 0 50px 50px 50px;
    .adventure-thumbnail{
      margin-right: 2vh;
      width: 50%;
      height: 25vh;
      img{
        height: 100%;
      }
    }
    .adventure-content{
      width: 49%;
    }
    .details{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      button{
        width: 30%;
        padding: 1vh 3vh;
        border: none;
        border-radius: 25px;
      }
    }
  }


}
@media only screen and (min-width:992px) and (max-width:1100px){
  .adventure-area{
    margin: 0 50px;
    .details{
      button{
       width: 100%;
      }
    }
  }
}
@media only screen and (min-width: 1101px) {
  .adventure-area {
    .single-adventure-area {
      h2 {
        margin-bottom: 5vh;
        color: #3aa8ee;
      }
      h5{
        font-size: 16px;
      }
      .adventure-thumbnail {
        margin-right: 3vh;
        width: 50%;
      }
      .adventure-content{
        width: 49%;
      }
    }
  }
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 6vh;
    h2 {
      margin-bottom: 2vh;
    }
    h4 {
      margin-bottom: 6vh;
    }
    button {
      border: none;
      border-radius: 25px;
      padding: 2vh 6vh;
      outline: none;
    }

  }
}

.search{
  width: 100%;
  @media only screen and (min-width: 768px) {
    width: 50%;
  }
}

