/* :: 19.0 Blog CSS */
.single-writer-info {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3vh;
  h4 {
    color: grey;
    margin-right: 14vw;
  }
  .single-writer-photo {
    height: 10vh;
    width: 10vh;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 2vh;
    img {
      height: 100%;
      width: 100%;
    }

  }
}

.blog-title {
  font-weight: bolder;
  margin: 3vh 0;
}

.single-blog {
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 22px 0 rgba(48, 49, 51, 0.08);
  .blog-img {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  p {
    font-size: 13px !important;
  }

  .blog-post-image {
    display: block;
  }

  button {
    padding: 10px 15px;
    background: #3aa8ee;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    font-size: 13px;
    text-transform: uppercase;
    a {
      color: white;
    }
  }

  .post-meta {
    position: relative;
    z-index: 1;
    margin-bottom: 8px;

    a {
      position: relative;
      z-index: 1;
      font-size: 12px;
      display: inline-block;
      margin-right: 30px;
      letter-spacing: 1px;

      &:last-child {
        margin-right: 0;
        color: #323232;
        opacity: 0.7;
      }

      &:hover,
      &:focus {
        color: #3aa8ee;
      }
    }
  }

  .post-title {
    font-size: 18px;
    line-height: 1.2;
    display: block;
    margin-bottom: 15px;

    &:hover,
    &:focus {
      color: #3aa8ee;
    }
  }

  p {
    margin-bottom: 15px;
  }

  &:hover,
  &:focus {
    //transform:translateY(-10px);

    .post-title {
      color: #3aa8ee;
    }
  }
}

.single-blog-post {
  position: relative;
  z-index: 1;

  @media only screen and (max-width: 767px) {
    flex-wrap: wrap;
  }

  .post-thumbnail {
    position: relative;
    z-index: 1;
    height: 250px;

    img {
      border-radius: 4px;
      height: 100%;
      object-fit: cover;
      @media only screen and (max-width: 600px) {
        height: 200px;
      }
    }
  }

  .post-content {
    font-family: "Varela Round", sans-serif;
    position: relative;
    z-index: 1;
    flex: (0 0 60%);
    max-width: 60%;
    width: 60%;
    padding-left: 30px;
    p {
      font-size: 13px;
    }
    .writer-info {
      display: flex;
      align-items: flex-end;
      margin-bottom: 3vh;
      .writer-photo {
        height: 7vh;
        width: 7vh;
        overflow: hidden;
        border-radius: 50%;
        outline: none;
        border: none;
        margin-right: 2vh;
        @media only screen and (min-width: 992px) and (max-width: 1025px) {
          height: 5vh;
          width: 5vh;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    @media only screen and (max-width: 767px) {
      flex: (0 0 100%);
      max-width: 100%;
      width: 100%;
      padding-left: 0;
    }

    .post-title {
      font-size: 16px;
      line-height: 1.5;
      display: block;
      margin-bottom: 15px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: #3aa8ee;
      }
    }

    .post-meta {
      position: relative;
      z-index: 1;
      margin-bottom: 10px;

      a {
        position: relative;
        z-index: 1;
        font-size: 14px;
        color: #3aa8ee;
        display: inline-block;
        margin-right: 30px;
        letter-spacing: 1px;
        text-transform: uppercase;

        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          font-size: 12px;
        }

        &:hover,
        &:focus {
          color: #000000;
        }
      }
    }

    p {
      margin-bottom: 20px;
      line-height: 1.6;

      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 14px;
      }
    }
  }
}

.breadcrumb-post-content {
  position: relative;
  z-index: 1;

  .post-title {
    font-size: 48px;
    line-height: 1.5;
    display: block;
    margin-bottom: 5px;
    color: white;

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: 36px;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      font-size: 36px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 24px;
    }
  }

  .post-meta {
    position: relative;
    z-index: 1;
    margin-bottom: 10px;

    a {
      position: relative;
      z-index: 1;
      font-size: 16px;
      color: white;
      display: inline-block;
      margin-right: 30px;
      letter-spacing: 1px;
      text-transform: uppercase;

      &:last-child {
        margin-right: 0;

        &::before {
          position: absolute;
          top: 0;
          left: -20px;
          z-index: 1;
        }
      }

      &:hover,
      &:focus {
        color: #3aa8ee;
      }
    }
  }
}

.blog-details-text {
  position: relative;
  z-index: 1;

  p {
    font-size: 14px;
    text-align: justify;
    font-family: "Varela Round", sans-serif;
    margin-bottom: 30px;
  }

  ul {
    position: relative;
    z-index: 1;
    padding-left: 15px;

    li {
      font-size: 20px;
      color: #636a76;
      margin-bottom: 30px;

      span {
        color: #2a303b;
      }

      i {
        font-size: 14px;
        margin-right: 10px;
      }

      @media only screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
}

.post-author-area {
  position: relative;
  z-index: 1;
  border-top: 1px solid #ebebeb;
  padding-top: 10px;

  .popular-tags {
    li {
      a {
        color: #2a303b;
      }
    }
  }

  .author-social-info {
    p {
      margin-bottom: 0;
      margin-right: 20px;
      color: #2a303b;

      @media only screen and (max-width: 767px) {
        margin-right: 10px;
      }
    }

    a {
      display: inline-block;
      color: #2a303b;
      margin-right: 20px;

      @media only screen and (max-width: 767px) {
        margin-right: 10px;
      }

      &:hover,
      &:focus {
        color: #3aa8ee;
      }
    }
  }
}

.single-recent-post {
  height: 20vh;
  width: 100%;
  margin-bottom: 2vh;

  @media only screen and (min-width: 768px) and (max-width: 1025px) {
    height: 10vh;
  }
  .post-thumb {
    width: 60%;
    height: 100%;
    margin-right: 1vw;
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      width: 40%;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .post-content {
    width: 40%;

  }
}

.related-news-area {
  position: relative;
  z-index: 1;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  h2 {
    margin-bottom: 30px;
    display: block;
    font-size: 30px;
  }
}

.single-related-news {
  position: relative;
  z-index: 1;

  .post-date {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3aa8ee;
    display: block;
    margin-bottom: 5px;
  }

  .post-title {
    font-size: 24px !important;
    line-height: 1.5;
    display: block;
    font-weight: 400;
    margin-bottom: 0;

    @media only screen and (max-width: 1199px) {
      font-size: 20px !important;
    }

    &:hover,
    &:focus {
      color: #3aa8ee;
    }
  }
}

.comment_area {
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
  border-bottom: 1px solid #ebebeb;

  h2 {
    margin-bottom: 30px;
    font-size: 22px;
    display: block;

    @media only screen and (max-width: 767px) {
      font-size: 24px;
    }
  }

  .comment-content {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;

    .comment-author {
      flex: (0 0 70px);
      width: 70px;
      max-width: 70px;
      margin-right: 20px;
      border-radius: 50%;

      @media only screen and (max-width: 767px) {
        flex: (0 0 50px);
        width: 50px;
        max-width: 50px;
        margin-right: 10px;
      }

      img {
        border-radius: 50%;
      }
    }

    .comment-meta {
      .post-date {
        color: #3aa8ee;
        font-size: 12px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 5px;
        font-weight: 600;
      }

      h5 {
        margin-bottom: 5px;

        @media only screen and (max-width: 767px) {
          font-size: 16px;
        }
      }

      p {
        color: #636a76;
        font-size: 16px;

        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          font-size: 14px;
        }

        @media only screen and (max-width: 767px) {
          font-size: 14px;
        }
      }

      a.like,
      a.reply {
        display: inline-block;
        padding: 5px 25px 3px;
        font-size: 12px;
        font-weight: 600;
        border: 1px solid #ebebeb;
        text-transform: uppercase;
        border-radius: 30px;

        &:focus,
        &:hover {
          border-color: #3aa8ee;
          background-color: #3aa8ee;
          color: white;
        }
      }
    }
  }

  .children {
    margin-left: 50px;

    @media only screen and (max-width: 767px) {
      margin-left: 20px;
    }

    .single_comment_area {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.blog-parts {
  padding: 1rem;
  font-family: "Varela Round", sans-serif;
  background: white;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .single-widget-area {
    margin-left: -18vh;
  }
}
