/* :: 18.0 Breadcrumb Area CSS */

.breadcrumb-area {
    position: relative;
    z-index: 1;
    height: 300px;

    @media only screen and (max-width:767px) {
        height: 200px;
    }

    .page-title {
        color: white;
        font-size: 48px;

        @media only screen and (min-width:992px) and (max-width:1199px) {
            font-size: 36px;
        }

        @media only screen and (min-width:768px) and (max-width:991px) {
            font-size: 36px;
        }

        @media only screen and (max-width:767px) {
            font-size: 24px;
        }
    }

    &.contact-breadcrumb {
        height: 400px;

        @media only screen and (max-width:767px) {
            height: 300px;
        }
    }

    .room-title {
        font-size: 48px;
        color: white;
        margin-bottom: 0;

        @media only screen and (min-width:992px) and (max-width:1199px) {
            font-size: 42px;
        }

        @media only screen and (min-width:768px) and (max-width:991px) {
            font-size: 30px;
        }

        @media only screen and (max-width:767px) {
            font-size: 24px;
        }
    }

    .room-price {
        font-size: 36px;
        color: #3aa8ee;
        margin-bottom: 0;

        @media only screen and (max-width:767px) {
            font-size: 14px;
        }

        span {
            font-size: 18px;
            color: white;

            @media only screen and (max-width:767px) {
                font-size: 12px;
            }
        }
    }
}

.breadcrumb-content {
    position: relative;
    z-index: 1;

    .breadcrumb {
        padding: 0;
        background-color: transparent;
        margin-bottom: 0;

        .breadcrumb-item {
            color: white;

            a {
                color: white;

                &:hover,
                &:focus {
                    color: #3aa8ee;
                }
            }
        }

        .breadcrumb-item + .breadcrumb-item::before {

            font-family: "FontAwesome";
            color: white;
        }
    }
}