/* :: 6.0 Buttons Area CSS */

.btn {
    &:focus {
        box-shadow: none;
    }
}

.landing-btn {
    position: relative;
    z-index: 1;
    min-width: 150px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 0 40px;
    text-align: center;
    text-transform: capitalize;
    background-color: #3aa8ee;
    color: white;
    border: none;
    border-radius: 2px;
    transition-duration: 500ms;

    &:focus,
    &:hover {
        font-weight: 500;
        box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);;
        background-color: white;
        color: #3aa8ee;
    }

    &.btn-2 {
        min-width: 180px;
        height: 50px;
        line-height: 46px;
        border: 2px solid #3aa8ee;
        background-color: transparent;
        color: white;

        &:focus,
        &:hover {
            color: white;
            background-color: #3aa8ee;
        }
    }
}

.continue-btn {
    padding: 0;
    line-height: 1;
    color: #afb4bf;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: 500;

    &:focus,
    &:hover {
        text-decoration: underline;
        color: #000000;
    }
}