/* :: 16.0 Contact Area CSS */

.contact-form {
    position: relative;
    z-index: 1;

    h2 {
        margin-bottom: 30px;
        font-size: 22px;
        display: block;

        @media only screen and (max-width:767px) {
            font-size: 24px;
        }
    }

    .form-control {
        width: 100%;
        height: 50px;
        padding: 0 20px;
        border-radius: 2px;
        font-size: 14px;
        border: 1px solid #ebebeb;

        &:focus {
            box-shadow: none;
            border-color: #3aa8ee;
        }
    }

    textarea.form-control {
        height: 150px;
        padding: 20px;
    }
}

.google-maps-contact-info {
    position: relative;
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -100px;

    @media only screen and (min-width:992px) and (max-width:1199px) {
        padding-left: 2%;
        padding-right: 2%;
    }
}

.google-maps-contact-content {
    position: relative;
    z-index: 1;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    padding: 35px;

    @media only screen and (max-width:767px) {
        padding: 20px;
    }

    .single-contact-info {
        position: relative;
        z-index: 1;
        text-align: center;
        margin-bottom: 40px;

        h4 {
            @media only screen and (min-width:992px) and (max-width:1199px) {
                font-size: 16px;
            }

            @media only screen and (max-width:767px) {
                font-size: 14px;
            }
        }

        i {
            display: inline-block;
            font-size: 30px;
            margin-bottom: 15px;
            color: #3aa8ee;

            @media only screen and (max-width:767px) {
                font-size: 24px;
            }
        }

        p {
            margin-bottom: 0;

            @media only screen and (min-width:992px) and (max-width:1199px) {
                font-size: 12px;
            }

            @media only screen and (max-width:767px) {
                font-size: 12px;
            }
        }
    }

    .google-maps {
        position: relative;
        z-index: 1;

        iframe {
            width: 100%;
            height: 500px;
            border: none;

            @media only screen and (min-width:992px) and (max-width:1199px) {
                height: 400px;
            }

            @media only screen and (max-width:767px) {
                height: 300px;
            }
        }
    }
}