/* :: 11.0 Project Area CSS */

.single-project-slide {
    position: relative;
    z-index: 1;
    height: 60vh;
    overflow: hidden;
    margin-bottom: 7vh;

    @media only screen and (max-width:767px) {
        height: 400px;
        margin-left: 20px;
    }

    @media only screen and (min-width:992px) and (max-width:1199px) {
        height: 450px;
    }

    @media only screen and (min-width:768px) and (max-width:991px) {
        height: 450px;
    }

    .project-content {
        position: absolute;
        width: 90%;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        img{
            height: 100%;
            width: 100%;
        }

    }

    .hover-effects {
        position: absolute;
        width: 90%;
        bottom: 0;
        left: 0;
        background-color: #3aa8ee;
        z-index: 100;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
        visibility: hidden;
         transition-duration: 800ms;

        .text {
            padding: 30px;

            p {
                margin-bottom: 0;
                color: white;
                font-size: 14px;

                @media only screen and (max-width:767px) {
                    font-size: 12px;
                }
            }
        }

        .project-btn {
            font-size: 16px;
            padding: 0 30px;
            display: block;
            background-color: #0e2737;
            border-radius: 0;
            color: white;
            text-align: left;
            font-weight: 500;
            height: 100px;
            width: 100%;
            line-height: 100px;
        }
    }


    &.active {
        .hover-effects {
             transform:translateY(0%);
            opacity: 1;
            visibility: visible;
        }
    }

    &:hover,
    &:focus {}
}
