.page-footer {
  color: white;
  background: url("/img/floral-background.jpg") center center #000;
  h5, p, a {
    color: white;
  }
  p {
    font-size: 13px;
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid;
    color: white;
  }
  a:hover {
    color: white !important;
  }

}

.partners {
  img {
    height: 60px;
    width: 60px;
    object-fit: contain;
  }
}