/* :: 7.0 Header Area CSS */

.header-area {
  position: relative;
  z-index: 100;
  width: 100%;
  transition-duration: 500ms;
  background-color: #3aa8ee;

  .classy-nav-container {
    background-color: transparent;
    padding: 0;

    .classy-navbar {
      transition-duration: 500ms;
      height: 80px;
      padding: 0;

      @media only screen and (min-width:768px) and (max-width:991px) {
        height: 70px;
      }

      @media only screen and (max-width:767px) {
        height: 70px;
      }

      .nav-brand {
        @media only screen and (max-width:767px) {
          max-width: 90px;
          margin-right: 15px;
        }
      }

      .navigation-bar ul li {
        a {
          font-size: 16px;
          text-transform: capitalize;
          color: #2a303b;
          font-weight: 500;
          padding: 0 20px;

          @media only screen and (min-width:992px) and (max-width:1199px) {
            font-size: 14px;
            padding: 0 10px;
          }

          @media only screen and (min-width:768px) and (max-width:991px) {
            font-size: 14px;
            color: #2a303b;

            &:hover,
            &:focus {
              color: #3aa8ee;
            }
          }

          @media only screen and (max-width:767px) {
            font-size: 14px;
            color: #2a303b;

            &:hover,
            &:focus {
              color: #3aa8ee;
            }
          }

          &:focus,
          &:hover {
            color: #afb4bf;
            font-weight: 500;
          }
        }

        &.cn-dropdown-item,
        &.megamenu-item {
          ul li {
            a {
              font-size: 14px;
              text-transform: capitalize;
              height: 42px;
              line-height: 42px;
              padding: 0 30px;
              color: #2a303b;

              &:focus,
              &:hover {
                color: #3aa8ee;
              }
            }
          }
        }
      }
    }
  }

  .navigation-bar ul li {
    &.active {
      a {
        position: relative;
        z-index: 1;

        &::before {
          width: 80%;
          height: 2px;
          background-color: white;
          position: absolute;
          bottom: 0;
          left: 10%;
          z-index: 1;
          content: '';

          @media only screen and (min-width:768px) and (max-width:991px) {
            display: none;
          }

          @media only screen and (max-width:767px) {
            display: none;
          }
        }
      }
    }
  }

  .navigation-bar ul li.has-down > a::after,
  .navigation-bar ul li.has-down.active > a::after,
  .navigation-bar ul li.megamenu-item > a::after {
    color: #2a303b;
  }

  .breakpoint-off .navigation-bar ul li .dropdown,
  .breakpoint-off .navigation-bar ul li .megamenu {
    width: 210px;
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    border-radius: 6px;
  }

  .breakpoint-off .navigation-bar ul li .megamenu {
    width: 100%;
  }

  .classy-navbar-toggler .navbarToggler span {
    background-color: #2a303b;
  }

  .main-header-area {
    position: relative;
    z-index: 1;
    background-color: white;

  }
}