/* :: 4.0 Heading Area CSS */

.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;

    h6 {
        text-transform: uppercase;
        color: #3aa8ee;
        letter-spacing: 2px;
        display: block;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 42px;
        text-transform: capitalize;
        margin-bottom: 0;
        display: block;
        line-height: 1.2;
        text-shadow: 2px 10px 15px grey;
        font-weight: bold;

        @media only screen and (min-width:992px) and (max-width:1199px) {
            font-size: 36px;
        }

        @media only screen and (min-width:768px) and (max-width:991px) {
            font-size: 30px;
        }

        @media only screen and (max-width:767px) {
            font-size: 24px;
        }
    }

    &.white {

        h6,
        h2 {
            color: white;
        }
    }
}