/* :: 8.0 Hero Area CSS */

.container{
  width: 90% !important;
  max-width: 90% !important;
}
.landing-section {
  position: relative;
  z-index: 1;
  @media only screen and (max-width: 767px) {
    height: 280px;
  }
}

.landing-slides {
  position: relative;
  z-index: 1;
  overflow: hidden;


  .owl-prev,
  .owl-next {
    transition-duration: 500ms;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #3aa8ee;
    text-indent: -50000em;
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -40px;
    z-index: 10;
    background-position: center center !important;
    background-size: cover !important;
    opacity: 0;
    visibility: hidden;

    @media only screen and (max-width: 767px) {
      width: 40px;
      left: 20px;
      height: 40px;
    }
  }

  .owl-next {
    left: auto;
    right: 30px;

    @media only screen and (max-width: 767px) {
      right: 20px;
    }
  }

  &:hover,
  &:focus {

    .owl-prev,
    .owl-next {
      opacity: 1;
      visibility: visible;
    }
  }
}

.single-landing-slide {
  position: relative;
  z-index: 2;
  width: 100%;
  background: black;

  .landing-text {
    position: absolute;
    top: 13%;
    @media only screen and (min-width: 1200px) {
      top: 35%;
    }
    @media only screen and (max-width: 1025px) {
      top: 35%;
      left: 20%;
    }

    left: 15%;
    color: white;
    width: 60%;
    .title {
      text-shadow: 6px 3px 0px black;
      font-size: 3vh;
      line-height: 5vh;
      @media only screen and (min-width: 1200px) {
        font-size: 11vh;
        line-height: 13vh;
      }

      letter-spacing: 8px;
      @media only screen and (max-width: 676px) {
        letter-spacing: 6px;
        text-shadow: 3px 1px 0px black;
      }
      margin-bottom: 2vh;
    }
    .login-area {
      button {
        border: none;
        border-radius: 20px;
        padding: 1vh 3vh;
        box-shadow: 2px 2px 2px 0px black;
        @media only screen and (min-width: 1200px) {
          padding: 2vh 7vh;
          font-size: 13px;
        }
        font-size: 10px;
        background: #3aa8ee;
        color: white;
        margin-right: 2vh;
        outline: none;
      }
    }
  }

}

.create-something {
  padding: 100px 0;
  background: #0e2737;
  color: #fff;
  margin-top: 5vh;
  h2 {
    line-height: 1.5;
    color: white;
  }

  p {
    color: #fff;
  }

  .btn-main {
    background: white;
    color: #0e2737;
    margin-top: 20px;
  }
}

.package_display {
  .container {
    width: 85%;
  }

  @media only screen and (min-width: 1200px) {
    .row {
      height: 100%;
    }
  }
  .img-section {
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    //height: 24rem;
    margin-bottom: 1vh;
    @media only screen and (max-width: 767px) {
      margin-bottom: 3vh;
    }

    .slide-img {
      //height: 60%;
      width: 100%;
    }
    img {
      max-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .pacakage-desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      //height: 40%;
      padding: 1rem;
      .title-desc {
        display: flex;
        justify-content: space-around;
        margin: 3% 0;
        width: 100%;
        .desc-title {
          width: 70%;
          font-size: 14px;
          font-weight: bold;
          color: #383838;
        }
        .price {
          width: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          font-weight: bolder;
          font-size: 1rem;
          color: #1b4b72;
          .discount {
            color: #939393;
          }

        }
      }

      .review {
        width: 100%;
        padding: 0 2%;
      }
    }

  }

}

.book-us {
  @media only screen and (min-width: 1024px) {
    display: flex;
  }
  color: white;
  background: #4263c1;

  .book-us-content-list {
    h5, h6 {
      color: white;
    }

    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.blog-section {
  padding-top: 50px;
}

//ipad gapping

@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .ipad{
    position: relative;
    top: -5vh;
  }
}

.popular{
  height: 20vh;
  width: 100%;
  color: rgba(0,0,0,0.4);
  @media only screen and (max-width: 1025px) {
    height: 10vh;
  }
}

.slider-landing{
  img{
    height: 90vh;
    @media only screen and (max-width: 767px) {
      height: 280px;
    }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      height: 60vh;
    }
    @media only screen and (min-width: 993px) and (max-width: 1025px) {
      height: 50vh;
    }
  }
}