.login-message {
    font-size: 3vh;
    margin-bottom: 4vh;
    color: white;
}

.login-layout {
    height: 85%;
    margin: auto;
    background: whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.login {
    height: 120vh;
}

.register {
    height: 180vh;
}

.password-request {
    height: 80vh;
}

.password-reset {
    height: 80vh;
}

.auth-card {
    margin: 0 !important;
    border: unset !important;
    border-radius: unset !important;

    .card-img {
        border: unset !important;
        border-radius: unset !important;
        opacity: .5;
        height: 100%;
        object-fit: cover;
    }

    .btn-primary {
        background: #025fbe !important;
        border-color: #025fbe !important;
    }
}
