// Navigation Variables
$content-width: 90%;
$breakpoint: 799px;
//$nav-height: 85px;
$nav-background: whitesmoke;
$nav-font-color: black;
$link-hover-color: #3aa8ee;

//top navigation
.top-navigation {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  @media screen and (max-width: 768px) {
    display: none;
  }
  .top-logo {
    height: 5.5rem;
    width: auto;

    img {
      height: 100%;
      width: auto;
    }
  }
  .support {
    display: flex;
    align-items: flex-end;
    .trip {
      height: 1.5rem;
      margin-right: 1rem;
    }
    .visitnpl{
      height: 6rem;
    }
    i {
      font-size: 1.5rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }
}

.navbar {
  padding: 0;
}

.nav-item{
  margin: 0 0.5rem;
    .dropdown-menu {
        z-index: 1020;
    }
}

.navbar_fixed {
  position: fixed !important;
  z-index: 1001 !important;
  width: 100% !important;
  background: $nav-background;
  top: 0;
}

@media screen and (max-width: 768px) {
  .package-menu {
    max-width: 313px;
    max-height: 265px;
    overflow-x: auto;
    overflow-y: auto;
    ul {
      li {
        float: none !important;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .package-menu {
    max-width: 580px;
    max-height: 300px;
  }
}

@media (min-width: 992px) {
  .package-menu {
    width: 36rem;
    margin-left: -12rem;
    overflow-y: auto;
    max-height: 70vh;
    ul {
      li {
        a {
          width: 17rem;
          word-wrap: break-word;
          white-space: normal;
          height: 2.5rem !important;
        }
      }
    }
  }

}

.logo {
  display: none;
  margin-top: 6px;
  @media only screen and (max-width: 768px) {
    display: block;
    height: 4rem;
    margin: 1rem;
  }

  img {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    margin: 0 4vw;
  }
}

// Outer web-navigation wrapper
.web-navigation {
  nav {
    z-index: 2;
  }
  .profile {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.navbar-toggler {
  margin-right: 1rem;
  border: none;
  outline: none;
}

.nav_bar {
  background: #025fbe !important;
  padding: 1rem 0 !important;
  ul {
    justify-content: center;
  }
  li {
    a {
      color: white;
    }
  }
}

.dropdown-menu {
  background: whitesmoke;
  a {
    color: #1d1d1d !important;
  }
  a:hover {
    color: white !important;
    background: #025fbe;
  }
}





