/* :: 14.0 Package Area CSS */

.message-box {
  height: 30vh;
  background: #3480b1;
  color: white;
  font-size: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6vh;
  flex-direction: column;
  h2, h3 {
    color: white;
  }
  button {
    padding: 2vh 5vh;
    border: none;
    outline: none;
    border-radius: 25px;
    background: white;
    color: #0e2737;
  }
}

.single-package-area {
  position: relative;
  z-index: 1;

  @media screen and (max-width: 676px) {
    flex-wrap: wrap;
  }

  .package-thumbnail {
    position: relative;
    z-index: 1;
    flex: (0 0 50%);
    max-width: 50%;
    width: 50%;

    @media only screen and (max-width: 767px) {
      flex: (0 0 100%);
      max-width: 100%;
      width: 100%;
      margin-bottom: 30px;
      img {
        height: 100%;
      }
    }

      img {
      border-radius: 4px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .package-content {
    position: relative;
    z-index: 1;
    padding-left: 35px;
    button {
      border: none;
      border-radius: 25px;
      padding: 1vh 2vh;
    }

    @media only screen and (max-width: 767px) {
      flex: (0 0 100%);
      max-width: 100%;
      width: 100%;
      padding-left: 0;
    }

    h2 {
      display: block;
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: bold;

      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 24px;
      }

      @media only screen and (max-width: 767px) {
        font-size: 24px;
      }
    }

    h4 {
      color: #3aa8ee;
      margin-bottom: 20px;

      span {
        color: #afb4bf;
        font-size: 14px;
      }
    }

    .package-feature {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      z-index: 1;

      .desc {
        max-width: 100%;
        flex: 0 0 100%;
      }

      h6 {
        flex: (0 0 50%);
        max-width: 50%;
        width: 50%;
        font-weight: 400;
        color: #1d68a7;
        margin-bottom: 10px;

        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          font-size: 14px;
        }

        span {
          color: #2a303b;
          display: block;
        }
      }
    }

    .view-detail-btn {
      padding: 0;
      font-size: 16px;
      color: #3aa8ee;
      font-weight: 500;

      &:hover,
      &:focus {
        color: #000000;
      }
    }
  }
}

.choose-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    height: 30vh;
  }
  @media only screen and (max-width: 320px) {
    height: 60vh;
  }
  h2 {
    display: flex;
    align-items: flex-end;
    flex: 1;
  }
  .list {
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    li {
      font-size: 18px;
      @media only screen and (max-width: 320px) {
        font-size: 14px;

      }

      i {
        color: #ffa127;
        margin-right: 10px;
      }

    }
  }
}









