.breadcrumb-area {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .overlay{
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

  }
}

.profile-header {
  display: flex;
  position: absolute;
  .profile-img {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: -15vh;
    left: 10vh;

    @media only screen and (max-width:767px) {
      top: -15vh;
      left: 2vh;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  .profile-desc {
    position: relative;
    top: -15vh;
    left: 14vh;
    @media only screen and (max-width:767px) {
      top: -13vh;
      left: 4vh;
    }

    h3 {
      text-transform: capitalize;
    }
    h3, h6 {
      color: whitesmoke;
      letter-spacing: 2px;
    }
    @media only screen and (max-width: 767px) {
      h3{
        font-size: 18px;
      }
      h6{
        font-size: 13px;
      }
    }
  }
}

.profile-container {
  margin-top: 10vh;
  .profile-sidebar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-right: 2vh;
    .navigation {
      display: flex;
      flex-direction: column;
    }
  }
  .main-content {
    height: 80vh;
    overflow: scroll;
    padding: 5vh;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);


  }

}
