/* :: 01.0 Reboot Area CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    z-index: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #2a303b;
    line-height: 1.3;
    font-weight: 500;
}

a,
a:active,
a:focus,
a:hover {
    color: #2a303b;
    text-decoration: none;
     transition-duration: 500ms;
    outline: none;
    font-weight: 500;
}

li {
    list-style: none;
}

p {
    line-height: 1.7;
    color: #636a76;
    font-size: 16px;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }
}

.bg-img {
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.jarallax {
    position: relative;
    z-index: 0;

    > .jarallax-img {
        position: absolute;
        object-fit: cover;
        font-family: 'object-fit: cover';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: white;
    right: 20px;
    text-align: center;
    padding-right: 0;
    width: 100%;
    position: fixed;
    top: 20px;
    background: #3aa8ee;
    height: 30px;
    line-height: 30px;
}

button.mfp-close,
button.mfp-arrow {
    background: #3aa8ee;
}

.mfp-bottom-bar {
    display: none !important;
}

.mfp-bg {
    background-color: #000000;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-gray {
    background-color: #e8f1f8 !important;
}

textarea:focus,
input:focus {
    outline: none;
}

.border {
    border-color: #ebebeb;
}

.mfp-arrow-left::after {
    border-right-color: transparent;
}

.mfp-arrow-left::before {
    border-right-color: white;
}

.mfp-arrow-right::after {
    border-left-color: transparent;
}

.mfp-arrow-right::before {
    border-left-color: white;
}