
.comment-button{
  border-radius: 25px;
  outline: none;
  border: none;
  padding: 2vh 5vh;
}
.active_star{
  color: #ffa127;
}

.single_comment_area{
  display: none;
}

.comment-author{
  @media only screen and (max-width:1100px){
    display: flex;
  }
  img{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
  }

  div{
    margin-top: 0.5rem;
  }

  .active_review_box{
    padding-left: 2rem;
  }

  button{
    margin-top: 1.5rem;
  }

  textarea{
    resize: none;
  }

  .rating_title{
    margin-left: 5rem;
  }

  .rating {
    display: flex;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    margin-left: 5rem;

    div{
      padding: 0;
    }
  }

  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }

  .rating label:last-child {
    position: static;
  }

  .rating label:nth-child(1) {
    z-index: 5;
  }

  .rating label:nth-child(2) {
    z-index: 4;
  }

  .rating label:nth-child(3) {
    z-index: 3;
  }

  .rating label:nth-child(4) {
    z-index: 2;
  }

  .rating label:nth-child(5) {
    z-index: 1;
  }

  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .rating label .icon {
    float: left;
    color: transparent;
  }

  .rating label:last-child .icon {
    color: #5a6268;
  }

  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #ffa127;
  }

  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #5a6268;
    text-shadow: 0 0 5px #ffa127;
  }

}

.comment-meta{
  textarea{
    background: transparent;
    border: transparent;
    resize: none;
  }

  button{
    text-decoration: underline;
    border: none;
  }
}

.see-more{
  background: transparent;
  border: none;
  color: #5a6268;
  text-decoration: underline;
  font-size: 1em;
  margin-bottom: 1rem;
}

.see-less{
  display: none;
  background: transparent;
  text-decoration: underline;
  border: none;
  color: #5a6268;
  font-size: 1em;
  margin-bottom: 1rem;
}
