.tour-name {
  margin-top: 5vh;
  margin-bottom: 3vh;
  color: rgba(0, 0, 0, 0.6);
  h2 {
    font-weight: bold;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.7);
  }
}

.package-area {

  li {
    border: 1px solid #3aa8ee;
    padding: 1vh 3vh;
    color: #3aa8ee;
  }
  .choose-us {
    li {
      border: none;
    }
  }
  .book-now {
    button {
      padding: 2vh 5vh;
      border: none;
      border-radius: 25px;
      color: #3aa8ee;
      font-weight: bold;
      margin: 1vh;
      outline: none;
    }
  }
}


.package-slide-img {
  //display: flex;
  //justify-content: space-evenly;
  //margin: 3vh 17vh 10vh 17vh;
  //width: 75%;
  //@media only screen and (max-width: 767px) {
  //  margin: 10vh auto;
  //}

  .img-section {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    //padding: 0;
    //height: 55vh;
    //margin-right: 5vh;

    @media only screen and (max-width: 767px) {
      margin-bottom: 3vh;
      margin-right: 0;
    }

    .slide-img {
      //height: 70%;
      width: 100%;
    }
    img {
      max-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .pacakage-desc {
      display: flex;
      flex-direction: column;
      flex: 1;
      .title-desc {
        display: flex;
        justify-content: space-around;
        margin: 3% 0;
        width: 100%;
        .desc-title {
          font-size: 2vh;
          font-weight: bold;
          color: #383838;
          width: 70%;
        }
        .price {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          font-weight: bolder;
          font-size: 1rem;
          color: #1b4b72;
          width: 30%;
          .discount {
            color: #939393;
          }

        }
      }
    }
  }
}

.listing {
      text-align: justify;
  li {
    border: none;
    color: #636a76;
    list-style: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 3em;
    font-size: 15px;
    font-family: "Varela Round", sans-serif;
  }
  p{
    font-size: 15px;
    font-family: "Varela Round", sans-serif;
  }

}

//@media only screen and (min-width: 768px) and (max-width: 1025px) {
//  .tour-name {
//    padding-left: 5vh;
//  }
//  .package-slide-img {
//    margin: 3vh 17vh 10vh 5vh;
//    width: 100%;
//    .img-section {
//      height: 40vh;
//    }
//  }
//}

.related-package {
  margin-top: 3vh;
}

.package-slide{
  height: 60vh;
  @media only screen and (min-width: 767px) and (max-width: 1025px) {
    height: 40vh;
  }
  @media only screen and (max-width: 767px) {
    height: 40vh;
  }
}

.cost-tag{
  display: flex;
  justify-content: flex-end;
  .price-tag-vertical {
    position: relative;
    top: -15vh;
    z-index: 2;
    margin-bottom: -15vh;
    line-height: 100px;
    width: 80px;
    height: 120px;
    display: inline-block;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(30deg, transparent 40px, #ff7726 0%),
    linear-gradient(-30deg, transparent 40px, #ff7726 0%);
    @media only screen and (min-width: 767px) and (max-width: 1025px) {
      height: 10vh;
      line-height: 9vh;
    }
    @media only screen and (max-width: 767px) {
      height: 15vh;
      line-height: 12vh;

    }
  }
}


