.adventure-display{
  height: 35vh;
  overflow: hidden;
  width: 100%;
  @media only screen and (min-width:1200px) {
    height: 60vh;
  }
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.adventure-name{
  h2{
    color: #3aa8ee;
  }
  color: rgba(0,0,0,0.6);
}

.single-adventure{
  .choose-us{
    li{
      border: none;
    }
  }
  .book-now{
    button{
      padding: 2vh 5vh;
      border: none;
      border-radius: 25px;
      color: #3aa8ee;
      font-weight: bold;
      margin: 1vh;
      outline: none;
    }
  }
}