// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-awesome
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';

// Admin LTE
@import '~admin-lte/dist/css/adminlte.css';

// Summer-note
@import '~summernote/dist/summernote-bs4.css';

//custom css
@import "footer";
@import "landing";
@import "single_blog";
@import "about";
@import "adventure";
@import "blog";
@import "breadcrumb";
@import "buttons";
@import "contact";
@import "header";
@import "heading";
@import "package";
@import "loader";
@import "reboot";
@import "single-adventure";
@import "single_package";
@import "spacing";
@import "navigation";
@import "destination";
@import "login";
@import "profile";
@import "booking";

.font-12{
  font-size: 12px;
}
