<template>
    <div class="text-center col-10">
        <h5>You can ...</h5>
        <button class="btn social google-sign-in w-100" @click="AuthProvider('google')">
            <div class="icon google-icon"><i class="fab fa-google"></i></div>
            <span style="color: #DB4437">Continue with Google</span>
        </button>
        <button class="btn social facebook-sign-in w-100" @click="AuthProvider('facebook')">
            <div class="icon facebook-icon"><i class="fab fa-facebook"></i></div>
            <span style="color: #3A5998">Continue with Facebook</span>
        </button>
    </div>
</template>

<script>
    export default {
        methods: {
            AuthProvider(provider) {
                var self = this
                this.$auth.authenticate(provider).then(response => {
                    self.SocialLogin(provider, response)
                })
            },

            SocialLogin(provider, response) {
                axios.post('/socialLogin/' + provider, response)
                .then((response) => {
                    window.location.replace('/');
                })
            },

        }
    }

</script>

<style lang="scss" scoped>
    .icon {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-right: 1rem;
        height: 2rem;
        width: 20%;
        color: white;
    }

    .social {
        margin-top: 1rem;
        display: flex;
        padding: 0;
        align-items: center;
    }

    .google-sign-in {
        border: #DB4437 solid;

        .google-icon {
            background: #DB4437;
        }
    }

    .facebook-sign-in {
        border: #3A5998 solid;

        .facebook-icon {
            background: #3A5998;
        }
    }
</style>
